@import "../../var.scss";

.header {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-color: #fff;
  box-shadow: 0rem 0.125rem 0.5rem rgba(0, 0, 0, 0.15);

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: auto;
    padding: 0 2rem;
    max-width: 105rem;
    height: 100%;

    &__logo {
      width: 15rem;
      height: 100%;
      cursor: pointer;
    }

    &__nav {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &--item {
        margin-left: 2rem;

        & a {
          padding: 0.5rem 1rem;
          border-radius: 0.8rem;
          color: #f68657;
          font-size: 2rem;
          border: 1px solid green;

          &:hover {
            background-color: #f68657;
            color: #fff;
            transition: all 0.5s;
          }
        }
      }
    }
  }
}
